doctype html
html
  head
    link(rel="stylesheet" href="css/style.css")
  body
    h1 Siema
    p Ekstra
    p Super
    p kurwa
    p pizda
    p Bedzie cos dzisiaj?scss
    h1 JAKI KOLOR ILONKA?
    h1 FAJNE NIE?
    p cycki
